body { background-color:#FFFFFF}
header { background-color:#00B386; color:#FFFFFF}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, sans-serif;
}
header {
    background-color: #00B386;
    color: #FFFFFF;
    padding: 20px;
}
nav {
    background-color: #70DBDB;
    padding: 10px;
}
h2 {
    color: #00664D;
}
dt {
    color: #00664D;
}
.barn {
    color: #70DBDB;
}

h1 {
    margin-bottom: 0;
}

